{% extends 'layout.html' %} 
{% load crispy_forms_tags %}
{% block body %}
<style>
    .signup-head{
        width: 450px;
    }
    @media only screen and (max-width: 600px) {
	.signup-head{
		width:80%;
	}
}
</style>
<div class="container signup-head" style="margin-top: 178px;align-items: center;">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Sign Up</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit" style="background-color:#61B15A;color: white;"><b>Sign Up</b></button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            <p style="font-size: 17px;">Already Have An Account ? <a class="ml-2" href="{% url 'login' %}"><b>Login</b></a></p>
        </small>
    </div>
</div>
<script>
    document.getElementById("titlename").innerHTML="Signup";
</script>
{% endblock %}